################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NetworkNotification/.vs/NetworkNotification/v16
/NetworkNotification/NetworkNotification/obj
/NetworkNotification/NetworkNotification/bin/Debug
/NetworkNotification/NetworkNotification/bin/Release/NetworkNotification.pdb
